In [1]:
print("Prajwal raj ")

Prajwal raj

In [2]:
#importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot

In [3]:
df = pd.read_csv('./movielens/movies.csv')

In [33]:
df.head()

,movieId,title,genres,Comedy
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,True
1,2,Jumanji (1995),Adventure|Children|Fantasy,False
2,3,Grumpier Old Men (1995),Comedy|Romance,True
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,True
4,5,Father of the Bride Part II (1995),Comedy,True

### Getting overview of data

In [5]:
df.shape

(27278, 3)

In [6]:
df.size

81834

In [7]:
df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [8]:
df.info

<bound method DataFrame.info of        movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
27273   131254        Kein Bund fÃ¼r's Leben (2007)
27274   131256       Feuer, Eis & Dosenbier (2002)
27275   131258                  The Pirates (2014)
27276   131260                 Rentun Ruusu (2001)
27277   131262                    Innocence (2014)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
27273                                       Comedy
27274                                       Comedy
27275                                    Adventure
27276                           (no genres listed)
27277                     Adventure|Fantasy|Horror

[27278 rows x 3 columns]>

In [10]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
movieId,27278.0,59855.48057,44429.314697,1.0,6931.25,68068.0,100293.25,131262.0

In [11]:
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
movieId,27278,NaN,NaN,NaN,59855.5,44429.3,1,6931.25,68068,100293,131262
title,27278,27262,Clear History (2013),2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genres,27278,1342,Drama,4520,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [14]:
#how many movies are comedy?
df['genres'].str.contains('Comedy').sum()

8374

In [15]:
df.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [16]:
df['title'].str.split('(')

0                          [Toy Story , 1995)]
1                            [Jumanji , 1995)]
2                   [Grumpier Old Men , 1995)]
3                  [Waiting to Exhale , 1995)]
4        [Father of the Bride Part II , 1995)]
                         ...
27273          [Kein Bund fÃ¼r's Leben , 2007)]
27274         [Feuer, Eis & Dosenbier , 2002)]
27275                    [The Pirates , 2014)]
27276                   [Rentun Ruusu , 2001)]
27277                      [Innocence , 2014)]
Name: title, Length: 27278, dtype: object

In [18]:
Is_animation = df['genres'].str.contains('Animation')

In [19]:
Is_animation[2:8]

2    False
3    False
4    False
5    False
6    False
7    False
Name: genres, dtype: bool

In [20]:
df[Is_animation]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12,13,Balto (1995),Adventure|Animation|Children
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance
241,244,Gumby: The Movie (1995),Animation|Children
...,...,...,...
27241,131132,Kleines Arschloch - Der Film (1997),Animation|Comedy
27247,131144,Werner - Das muss kesseln!!! (1996),Animation|Comedy
27248,131146,Werner - Volles RooÃ¤Ã¤Ã¤ (1999),Animation|Comedy
27269,131243,Werner - Gekotzt wird spÃ¤ter (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy

Split genres into multiple columns

In [24]:
df['genres'].str.split('|',expand = True)

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

In [25]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [26]:
#Add a new column for genres comedy
df['Comedy']= df['genres'].str.contains('Comedy')
df['Comedy'].head()

0     True
1    False
2     True
3     True
4     True
Name: Comedy, dtype: bool

In [31]:
df['genres'].str.replace('|','-',)

0        Adventure-Animation-Children-Comedy-Fantasy
1                         Adventure-Children-Fantasy
2                                     Comedy-Romance
3                               Comedy-Drama-Romance
4                                             Comedy
                            ...
27273                                         Comedy
27274                                         Comedy
27275                                      Adventure
27276                             (no genres listed)
27277                       Adventure-Fantasy-Horror
Name: genres, Length: 27278, dtype: object

In [32]:
df.head()

,movieId,title,genres,Comedy
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,True
1,2,Jumanji (1995),Adventure|Children|Fantasy,False
2,3,Grumpier Old Men (1995),Comedy|Romance,True
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,True
4,5,Father of the Bride Part II (1995),Comedy,True

In [ ]:
#extract year from the title 
df['year']= df['title'].str.extract()

In [35]:
del df["Comedy"]

In [36]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [37]:
df.tail()

       movieId                          title                    genres
27273   131254   Kein Bund fÃ¼r's Leben (2007)                    Comedy
27274   131256  Feuer, Eis & Dosenbier (2002)                    Comedy
27275   131258             The Pirates (2014)                 Adventure
27276   131260            Rentun Ruusu (2001)        (no genres listed)
27277   131262               Innocence (2014)  Adventure|Fantasy|Horror

In [40]:
df['genres'].str.contains('no genres listed').sum()

246

In [48]:
df['genres'].replace('no genres listed', np.nan)

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
27273                                         Comedy
27274                                         Comedy
27275                                      Adventure
27276                             (no genres listed)
27277                       Adventure|Fantasy|Horror
Name: genres, Length: 27278, dtype: object

In [42]:
df['genres'].isnull().any()

False