In [1]:
print('Prajwal Raj')

Prajwal Raj

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
link = pd.read_csv('./movielens/links.csv')

In [4]:
link.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
link.shape

(27278, 3)

In [6]:
link.isnull().any()

movieId    False
imdbId     False
tmdbId      True
dtype: bool

In [7]:
link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
imdbId     27278 non-null int64
tmdbId     27026 non-null float64
dtypes: float64(1), int64(2)
memory usage: 639.5 KB

In [8]:
link.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [9]:
link.describe()

             movieId        imdbId         tmdbId
count   27278.000000  2.727800e+04   27026.000000
mean    59855.480570  5.781860e+05   63846.683083
std     44429.314697  7.804707e+05   69862.134497
min         1.000000  5.000000e+00       2.000000
25%      6931.250000  7.741725e+04   15936.500000
50%     68068.000000  1.524350e+05   39468.500000
75%    100293.250000  9.062715e+05   82504.000000
max    131262.000000  4.530184e+06  421510.000000

In [10]:
link['tmdbId'].mode()

0    141971.0
dtype: float64

In [11]:
link['tmdbId'].value_counts()

141971.0    3
84198.0     2
18440.0     2
14788.0     2
110428.0    2
           ..
19492.0     1
128437.0    1
9741.0      1
258200.0    1
1408.0      1
Name: tmdbId, Length: 27008, dtype: int64

In [12]:
link['tmdbId'].isnull().sum()

252

In [13]:
link.shape[0]

27278

In [14]:
link.head(30)

    movieId  imdbId   tmdbId
0         1  114709    862.0
1         2  113497   8844.0
2         3  113228  15602.0
3         4  114885  31357.0
4         5  113041  11862.0
5         6  113277    949.0
6         7  114319  11860.0
7         8  112302  45325.0
8         9  114576   9091.0
9        10  113189    710.0
10       11  112346   9087.0
11       12  112896  12110.0
12       13  112453  21032.0
13       14  113987  10858.0
14       15  112760   1408.0
15       16  112641    524.0
16       17  114388   4584.0
17       18  113101      5.0
18       19  112281   9273.0
19       20  113845  11517.0
20       21  113161   8012.0
21       22  112722   1710.0
22       23  112401   9691.0
23       24  114168  12665.0
24       25  113627    451.0
25       26  114057  16420.0
26       27  114011   9263.0
27       28  114117  17015.0
28       29  112682    902.0
29       30  115012  37557.0

In [15]:
link.tail(30)

       movieId   imdbId    tmdbId
27248   131146   184005    9496.0
27249   131148  1661461   73770.0
27250   131150   461642   10036.0
27251   131152    59171  233438.0
27252   131154   202806   11664.0
27253   131156   295375    9572.0
27254   131158   102397    1915.0
27255   131160  1242522   51880.0
27256   131162  3028412  258751.0
27257   131164  2109059  208982.0
27258   131166  1489097   56771.0
27259   131168  2764784  254578.0
27260   131170  3479316  328595.0
27261   131172  2626926  160171.0
27262   131174  2058617  287422.0
27263   131176  3305316  254200.0
27264   131180  3816458  293771.0
27265   131231  1645916  301225.0
27266   131237  1595366   35428.0
27267   131239  1747994   91628.0
27268   131241   239450    9478.0
27269   131243   304931   10470.0
27270   131248   465925   10010.0
27271   131250   248409    9565.0
27272   131252   289477    9677.0
27273   131254   466713    4436.0
27274   131256   277703    9274.0
27275   131258  3485166  285213.0
27276   131260   249110   32099.0
27277   131262  1724965  286971.0

In [17]:
link.dropna(inplace = True)

In [18]:
link.shape

(27026, 3)

In [19]:
#hence the nan value is removed

In [20]:
link.head(10)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [26]:
r = link['imdbId'].unique()

In [28]:
r

array([ 114709,  113497,  113228, ..., 3485166,  249110, 1724965],
      dtype=int64)

In [31]:
r.shape

(27026,)

In [32]:
r.size

27026

In [33]:
link.shape

(27026, 3)

so form above it is clear that imdbId row have all the value unique

In [34]:
link['tmdbId'].unique().size

27008

In [ ]:
print(link.shape)